<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/index.css">
  <title>art-template</title>
</head>
<body>
  <h2>留言区</h2>
  <div class="wrapper">
    {{ each comments }}
    <div class="item">
      <p>{{ $value.name }} 说：{{ $value.value }}</p>
      <span>{{ $value.time }}</span>
    </div>
    {{ /each }}
  </div>
  <button onclick="location.href = '/post'">留言</button>
</body>
</html>