<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/index.css">
  <title>留言板</title>
</head>
<body>
  <h1>
    <a href="/">首页</a>
  </h1>
  <hr>
  <!-- <form action="/comment" method="get"> -->
  <form action="/comment" method="post">
    <p for="">你的名字</p>
    <input type="text" name="name">
    
    <p for="">留言内容</p>
    <textarea name="value" id="" cols="30" rows="10"></textarea>
    <button type="submit">发表</button>
  </form>
</body>
</html>